.btn {
  background-color: #0077ff;
  outline: none;
  border: none;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-size: 17px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  gap: 8px;
}

.btn:hover {
  background-color: #014a96;
}
