html,
body {
    margin: 0;
    height: 100%;
    background-image: url("/img/sky-wallpapers.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:verdana;
} 

th {
    text-align: center;
}

.atos-logo {
    position: absolute;
    float:left;
    margin: 10px;
}
