<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniou.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,504},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>diban(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{872,504},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>diban(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{872,588},{75,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,61}}</string>
                <key>sourceSize</key>
                <string>{75,61}</string>
            </dict>
            <key>diban(6).png</key>
            <dict>
                <key>frame</key>
                <string>{{872,653},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>diban(7).png</key>
            <dict>
                <key>frame</key>
                <string>{{958,566},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>diban(8).png</key>
            <dict>
                <key>frame</key>
                <string>{{614,667},{75,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,61}}</string>
                <key>sourceSize</key>
                <string>{75,61}</string>
            </dict>
            <key>jindutiao(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{81,720},{161,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,21}}</string>
                <key>sourceSize</key>
                <string>{161,21}</string>
            </dict>
            <key>jindutiao(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{958,180},{161,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,21}}</string>
                <key>sourceSize</key>
                <string>{161,21}</string>
            </dict>
            <key>jiougonggediban(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{752,559},{116,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,129}}</string>
                <key>sourceSize</key>
                <string>{116,129}</string>
            </dict>
            <key>jiougonggediban(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{752,424},{114,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,131}}</string>
                <key>sourceSize</key>
                <string>{114,131}</string>
            </dict>
            <key>jiougonggediban(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{870,372},{108,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,128}}</string>
                <key>sourceSize</key>
                <string>{108,128}</string>
            </dict>
            <key>taitou(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{3,483},{745,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{745,180}}</string>
                <key>sourceSize</key>
                <string>{745,180}</string>
            </dict>
            <key>taitou(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{3,299},{745,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{745,180}}</string>
                <key>sourceSize</key>
                <string>{745,180}</string>
            </dict>
            <key>taitou(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{745,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{745,292}}</string>
                <key>sourceSize</key>
                <string>{745,292}</string>
            </dict>
            <key>taitou(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{951,627},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>wenzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,180},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>wenzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,720},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>wenzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,666},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>wenzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,627},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>wenzitupian(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{256,667},{132,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,49}}</string>
                <key>sourceSize</key>
                <string>{132,49}</string>
            </dict>
            <key>wenzitupian(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{392,667},{102,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,67}}</string>
                <key>sourceSize</key>
                <string>{102,67}</string>
            </dict>
            <key>wenzitupian(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{958,3},{173,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,49}}</string>
                <key>sourceSize</key>
                <string>{173,49}</string>
            </dict>
            <key>wenzitupian(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{498,699},{112,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,28}}</string>
                <key>sourceSize</key>
                <string>{112,28}</string>
            </dict>
            <key>wenzitupian(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{498,667},{112,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,28}}</string>
                <key>sourceSize</key>
                <string>{112,28}</string>
            </dict>
            <key>wenzitupian(6).png</key>
            <dict>
                <key>frame</key>
                <string>{{81,667},{171,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,49}}</string>
                <key>sourceSize</key>
                <string>{171,49}</string>
            </dict>
            <key>xuxian(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{802,692},{61,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,40}}</string>
                <key>sourceSize</key>
                <string>{61,40}</string>
            </dict>
            <key>xuxian(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,3},{6,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,19}}</string>
                <key>sourceSize</key>
                <string>{6,19}</string>
            </dict>
            <key>xuxian(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{737,667},{6,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,19}}</string>
                <key>sourceSize</key>
                <string>{6,19}</string>
            </dict>
            <key>xuxian(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{958,345},{6,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,19}}</string>
                <key>sourceSize</key>
                <string>{6,19}</string>
            </dict>
            <key>xuxian(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{737,692},{61,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,40}}</string>
                <key>sourceSize</key>
                <string>{61,40}</string>
            </dict>
            <key>xuxian(6).png</key>
            <dict>
                <key>frame</key>
                <string>{{693,667},{61,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,40}}</string>
                <key>sourceSize</key>
                <string>{61,40}</string>
            </dict>
            <key>xuxian(7).png</key>
            <dict>
                <key>frame</key>
                <string>{{968,345},{19,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,6}}</string>
                <key>sourceSize</key>
                <string>{19,6}</string>
            </dict>
            <key>xuxian(8).png</key>
            <dict>
                <key>frame</key>
                <string>{{983,219},{19,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,6}}</string>
                <key>sourceSize</key>
                <string>{19,6}</string>
            </dict>
            <key>xuxian(9).png</key>
            <dict>
                <key>frame</key>
                <string>{{285,720},{19,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,6}}</string>
                <key>sourceSize</key>
                <string>{19,6}</string>
            </dict>
            <key>zhuangshidiban(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{752,3},{417,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,112}}</string>
                <key>sourceSize</key>
                <string>{417,112}</string>
            </dict>
            <key>zhuangshidiban(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{868,3},{365,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,86}}</string>
                <key>sourceSize</key>
                <string>{365,86}</string>
            </dict>
            <key>zhuangsi.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,667},{78,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ACG_GameEnd.png</string>
            <key>size</key>
            <string>{1024,748}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:766560a558d3360924ab606c0c2bf1ca:1/1$</string>
            <key>textureFileName</key>
            <string>ACG_GameEnd.png</string>
        </dict>
    </dict>
</plist>
