<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,3},{122,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,168}}</string>
                <key>sourceSize</key>
                <string>{122,168}</string>
            </dict>
            <key>gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,3},{171,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,167}}</string>
                <key>sourceSize</key>
                <string>{171,167}</string>
            </dict>
            <key>hongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,230},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>honggou.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,230},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>honghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,224},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>honglang.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,290},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>hongmaoo.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,290},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>hongqidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,129},{112,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,97}}</string>
                <key>sourceSize</key>
                <string>{112,97}</string>
            </dict>
            <key>hongshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,274},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>hongshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,268},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>hongxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,224},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,195},{127,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,176}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>lanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,290},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>lang.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,209},{126,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,190}}</string>
                <key>sourceSize</key>
                <string>{126,190}</string>
            </dict>
            <key>langou.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,274},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>lanhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,224},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>lanlang.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,290},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>lanmao.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,290},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>lanqidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,123},{112,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,97}}</string>
                <key>sourceSize</key>
                <string>{112,97}</string>
            </dict>
            <key>lanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,230},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>lanshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,273},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>lanxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,267},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>mao.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,163},{123,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,175}}</string>
                <key>sourceSize</key>
                <string>{123,175}</string>
            </dict>
            <key>shi.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,178},{146,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,188}}</string>
                <key>sourceSize</key>
                <string>{146,188}</string>
            </dict>
            <key>shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,3},{156,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,174}}</string>
                <key>sourceSize</key>
                <string>{156,174}</string>
            </dict>
            <key>tishiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,3},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>weifanpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,3},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>xiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{202,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,176}}</string>
                <key>sourceSize</key>
                <string>{202,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ACG_Chess.png</string>
            <key>size</key>
            <string>{1024,338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0579708ccc25fc919d6785e40c1d00f:1/1$</string>
            <key>textureFileName</key>
            <string>ACG_Chess.png</string>
        </dict>
    </dict>
</plist>
