<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,684},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,790},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,268},{173,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,49}}</string>
                <key>sourceSize</key>
                <string>{173,49}</string>
            </dict>
            <key>dengjidiban_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,820},{83,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,21}}</string>
                <key>sourceSize</key>
                <string>{83,21}</string>
            </dict>
            <key>dengjidiban_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,795},{83,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,21}}</string>
                <key>sourceSize</key>
                <string>{83,21}</string>
            </dict>
            <key>dengjidiban_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,770},{83,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,21}}</string>
                <key>sourceSize</key>
                <string>{83,21}</string>
            </dict>
            <key>dengjidiban_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,821},{83,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,21}}</string>
                <key>sourceSize</key>
                <string>{83,21}</string>
            </dict>
            <key>dengjidiban_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,791},{83,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,26}}</string>
                <key>sourceSize</key>
                <string>{83,26}</string>
            </dict>
            <key>diban_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,3},{677,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,187}}</string>
                <key>sourceSize</key>
                <string>{677,187}</string>
            </dict>
            <key>diban_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,600},{677,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,187}}</string>
                <key>sourceSize</key>
                <string>{677,187}</string>
            </dict>
            <key>diban_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,409},{677,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,187}}</string>
                <key>sourceSize</key>
                <string>{677,187}</string>
            </dict>
            <key>diban_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,218},{677,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,187}}</string>
                <key>sourceSize</key>
                <string>{677,187}</string>
            </dict>
            <key>fanhuei.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,523},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>gender_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,639},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>gender_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,3},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{20,31}</string>
            </dict>
            <key>imgBg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,578},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>imgFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,684},{92,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,102}}</string>
                <key>sourceSize</key>
                <string>{92,102}</string>
            </dict>
            <key>imgTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{750,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,211}}</string>
                <key>sourceSize</key>
                <string>{750,211}</string>
            </dict>
            <key>imgWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,844},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>img_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,665},{15,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,4}}</string>
                <key>sourceSize</key>
                <string>{15,4}</string>
            </dict>
            <key>img_1V1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,218},{261,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,49}}</string>
                <key>sourceSize</key>
                <string>{261,49}</string>
            </dict>
            <key>img_1V1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,791},{259,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,49}}</string>
                <key>sourceSize</key>
                <string>{259,49}</string>
            </dict>
            <key>img_1V1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,791},{261,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,50}}</string>
                <key>sourceSize</key>
                <string>{261,50}</string>
            </dict>
            <key>img_1V1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,3},{261,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,49}}</string>
                <key>sourceSize</key>
                <string>{261,49}</string>
            </dict>
            <key>img_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,218},{28,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,12}}</string>
                <key>sourceSize</key>
                <string>{28,12}</string>
            </dict>
            <key>jiangpai_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,445},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>jiangpai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,561},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>jiangpai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,483},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>jinbi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,639},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>jinbi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,795},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>jinbi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,791},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>jinbi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,639},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>touxiangdiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,684},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ACG_Hall.png</string>
            <key>size</key>
            <string>{1024,849}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa18e02b23942f13e5d060195a6e884c:1/1$</string>
            <key>textureFileName</key>
            <string>ACG_Hall.png</string>
        </dict>
    </dict>
</plist>
