<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniou(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{333,159},{195,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,56}}</string>
                <key>sourceSize</key>
                <string>{195,56}</string>
            </dict>
            <key>anniou(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{276,99},{195,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,56}}</string>
                <key>sourceSize</key>
                <string>{195,56}</string>
            </dict>
            <key>diban(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{3,99},{108,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,130}}</string>
                <key>sourceSize</key>
                <string>{108,130}</string>
            </dict>
            <key>diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{531,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,92}}</string>
                <key>sourceSize</key>
                <string>{531,92}</string>
            </dict>
            <key>douzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,3},{222,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,143}}</string>
                <key>sourceSize</key>
                <string>{222,143}</string>
            </dict>
            <key>jiazaitiao(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{276,159},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>jiazaitiao(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{22,211},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>jiazaitiao(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{3,211},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>qianjinload.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,99},{59,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>toux(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{821,3},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>toux(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{685,3},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>wenzi(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{239,192},{90,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,22}}</string>
                <key>sourceSize</key>
                <string>{90,22}</string>
            </dict>
            <key>wenzi(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{137,99},{135,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,89}}</string>
                <key>sourceSize</key>
                <string>{135,89}</string>
            </dict>
            <key>xingbie(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{957,3},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>xingbie(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{304,159},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>yiny.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,192},{98,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,30}}</string>
                <key>sourceSize</key>
                <string>{98,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ACG_Match.png</string>
            <key>size</key>
            <string>{1024,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffb5175aaccc365db8c8f516b38dad57:1/1$</string>
            <key>textureFileName</key>
            <string>ACG_Match.png</string>
        </dict>
    </dict>
</plist>
