<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shengjijiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{641,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,372}}</string>
                <key>sourceSize</key>
                <string>{641,372}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ACG_BigPicture3.png</string>
            <key>size</key>
            <string>{1024,378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07773f4277f5b7744606df8ab5a04d45:1/1$</string>
            <key>textureFileName</key>
            <string>ACG_BigPicture3.png</string>
        </dict>
    </dict>
</plist>
