.formLable label {
  text-align: left !important;
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.5);
}
.formDiv {
  padding-top: 20px !important;
}
.rowhandle {
  text-align: center;
  font-size: 12px;
  min-width: 60px;
  max-width: 60px;
  color: #bdbdbd;
  cursor:pointer !important;
}
.dataRow {
  padding: 10px !important;
  text-align: center;
  background-color: #eeeeee;
}
.buttonGroup {
  float:right;
}
.tableStyle {
  max-height: 70vh;
  overflow: auto;
  padding: 5px;
}
.handleButton {
  color: #5690c0 !important;
  text-align: center;
  font-size: 12px;
  cursor:pointer !important;
}
.bloodTd {
  text-align: center;
  font-size: 12px;
  color: #666666;
}
.bloodResult {
  text-align: left;
  font-size: 12px;
  min-width: 90px;
  color: #666666;
}
.tableTh table thead tr th {
  text-align: center !important;
  font-size: 12px;
  background-color: #fff3ee;
  color: #666666;
}
.tableTd table tbody tr td {
  padding: 8px !important;
}
.rowBasic {
  text-align: center;
  font-size: 18px;
}
.bloodPulse {
  color: #666666;
}
.bloodcolor1 {
  color: #5EB300;
}
.bloodcolor2 {
  color: #F5A623;
}
.bloodcolor3 {
  color: #FA7252;
}
.bloodcolor4 {
  color: #E50037;
}
.bloodcolor5 {
  color: #AD1457;
}
.bloodcolor6 {
  color: #79B0EC;
}
.default {
  margin-left: 0 !important;
}
.selected {
  color: #0097a7;
  background-color: transparent;
  border-color: #0097a7;
}

.bloodName {
  text-align: center;
  min-width: 90px;
  font-size: 12px;
  color: #666666;
}
.bloodValue {
  text-align: center;
  min-width: 90px;
  font-size: 12px;
  color: #666666;
}
