.physicalExaminationLong{
  width: 68px;
}
.physicalExaminationTime{
  width: 85px;
}
.physicalExaminationBase{
  width: 43px;
}
.physicalExaminationBMI{
  width: 48px;
}
.physicalExaminationRatio{
  width: 58px;
}