.modelMask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modelBody {
  width: 50%;
  max-width: 500px;
  background: #1d1d1d;
  border-radius: 20px;
  position: relative;
}

.closeBtn {
  position: absolute;
  right: 3px;
  top: 5px;
  background: none;
}

.modelHeader {
  padding: 30px;
  border-bottom: 2px solid #262626;
}

.roomsTypes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.typeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.typeBox.active {
  background: #262626;
}

.heading {
  margin-bottom: 5px;
}

.subHeading {
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
}

.modelFooter {
  padding: 30px;
  text-align: center;
}

.modelFooter h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.footerBtn {
  background: #20bd5f;
  color: white;
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: center;
  padding: 7px 10px;
  border-radius: 20px;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

.footerBtn:hover {
  background: #13763b;
}

.footerBtn span {
  margin-left: 5px;
  font-weight: bold;
}
