<link rel="stylesheet" href="/public/css/chat.css" />

<div id="scrollable"></div>
<div class="container chat">
  <input type="text" id="text" name="text" placeholder="Aa" />
  <button id="send"><img src="/public/images/send.png" alt="send" /></button>
</div>
