.cardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.btnWrap {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tabBtn {
  width: 60px;
  height: 60px;
  background-color: #262626;
  cursor: pointer;
  border-radius: 10px;
}

.tabBtn:last-child {
  margin-left: 15px;
}

.active{
  background-color: #0077ff;
}

