## nginx Config for socket chat 
## author : mehrbod2002
## Edit your own config 
server {
    listen 80;
    return 301 #Your Domain;
}
server {
    listen 443 ssl;
    server_name #service Name;
    ## SSL Certificates
    ssl_certificate /root/keys/crt.crt;
    ssl_certificate_key /root/keys/key.key;

   
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers HIGH:!aNULL:!MD5;
    add_header X-Frame-Options "SAMEORIGIN";
    add_header Content-Security-Policy "default-src 'self' http: https: data: blob: 'unsafe-inline'" always;
    add_header X-XSS-Protection "1; mode=block";
    location / {
       if ($request_method = OPTIONS) {
          add_header "Access-Control-Allow-Origin" $http_origin;
          add_header Access-Control-Allow-Methods 'OPTION, POST';
          add_header Access-Control-Allow-Headers 'content-type,token';
          add_header Content-Type text/plain;
          add_header Content-Length 0;
          return 204;
       }
       # Allowed origins
       if ($http_origin ~ "^(#origin)$") {
          add_header "Access-Control-Allow-Origin" $http_origin;
       }
       add_header Access-Control-Allow-Methods 'OPTION, POST';
       add_header Access-Control-Allow-Headers 'content-type,token';
       limit_except POST OPTIONS { deny all;}
       proxy_pass http://127.0.0.1:4054;       
       proxy_set_header access manager;
       proxy_set_header ip $remote_addr;
       proxy_set_header host $host;
    }
    location /notification {
       limit_except POST {deny all;}
       # Admin Token Validator Condition
       if ($http_authentication != "#token"){
          return 403;
       }
       proxy_pass http://127.0.0.1:3003;
    }
    location /socket {
       proxy_pass http://127.0.0.1:3003;
       proxy_http_version 1.1;
       proxy_set_header Upgrade $http_upgrade;
       proxy_set_header Connection "upgrade";
    }
}
